<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="content-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    名前：<%= text_input f, :name %>
    <%= error_tag f, :name %>
  
    <%= textarea f, :detail %>
    <%= error_tag f, :detail %>
  
    <div>
      <%= submit "書き込み", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
